<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Me</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  Nama: Lady Theresa Tandiono <br>
  NIM: 00000018326 <br>
  Kelas: A/AL <br>
  Mengerjakan aplikasi ini sendiri dengan referensi modul 1-7<br>
  Juga mereferensikan dari internet (stackoverflow, dll) dan bertanya pada teman dekat saat tidak menemukan jawaban

</ion-content>
